<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".HealifyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App01">
        <activity
            android:name=".Doc_Desh"
            android:exported="false" />
        <activity
            android:name=".Patient_Dash"
            android:exported="false" />
        <activity
            android:name=".UserLocation"
            android:exported="false" />
        <activity
            android:name=".VitalsActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorLogin_Ac_1"
            android:exported="false" />
        <activity
            android:name=".Wellcome_Ac4"
            android:exported="false" />
        <activity
            android:name=".Login_Ac1"
            android:exported="false" />
        <activity
            android:name=".Login_Ac3"
            android:exported="false" />
        <activity
            android:name=".Login_Ac2"
            android:exported="false" />
        <activity
            android:name=".Patient_Dashboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>